body {
    background-image: url("images/table");
    background-position: center;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1 {
    color:goldenrod;
    text-align: center;
}
#message-el {
    font-style: italic;
}
